var CP = ( function(){
     var font_size = "4px";
     var divs = [
    "<%= Card.new(1).make_div %>",
    "<%= Card.new(2).make_div %>",
    "<%= Card.new(3).make_div %>",
    "<%= Card.new(4).make_div %>",
    "<%= Card.new(5).make_div %>",
    "<%= Card.new(6).make_div %>",
    "<%= Card.new(7).make_div %>",
    "<%= Card.new(8).make_div %>",
    "<%= Card.new(9).make_div %>",
    "<%= Card.new(10).make_div %>",
    "<%= Card.new(11).make_div %>",
    "<%= Card.new(12).make_div %>",
    "<%= Card.new(13).make_div %>",
    "<%= Card.new(14).make_div %>",
    "<%= Card.new(15).make_div %>",
    "<%= Card.new(16).make_div %>",
    "<%= Card.new(17).make_div %>",
    "<%= Card.new(18).make_div %>",
    "<%= Card.new(19).make_div %>",
    "<%= Card.new(20).make_div %>",
    "<%= Card.new(21).make_div %>",
    "<%= Card.new(22).make_div %>",
    "<%= Card.new(23).make_div %>",
    "<%= Card.new(24).make_div %>",
    "<%= Card.new(25).make_div %>",
    "<%= Card.new(26).make_div %>",
    "<%= Card.new(27).make_div %>",
    "<%= Card.new(28).make_div %>",
    "<%= Card.new(29).make_div %>",
    "<%= Card.new(30).make_div %>",
    "<%= Card.new(31).make_div %>",
    "<%= Card.new(32).make_div %>",
    "<%= Card.new(33).make_div %>",
    "<%= Card.new(34).make_div %>",
    "<%= Card.new(35).make_div %>",
    "<%= Card.new(36).make_div %>",
    "<%= Card.new(37).make_div %>",
    "<%= Card.new(38).make_div %>",
    "<%= Card.new(39).make_div %>",
    "<%= Card.new(40).make_div %>",
    "<%= Card.new(41).make_div %>",
    "<%= Card.new(42).make_div %>",
    "<%= Card.new(43).make_div %>",
    "<%= Card.new(44).make_div %>",
    "<%= Card.new(45).make_div %>",
    "<%= Card.new(46).make_div %>",
    "<%= Card.new(47).make_div %>",
    "<%= Card.new(48).make_div %>",
    "<%= Card.new(49).make_div %>",
    "<%= Card.new(50).make_div %>",
    "<%= Card.new(51).make_div %>",
    "<%= Card.new(52).make_div %>",
    "<%= Card.make_back %>"	 
     ];
     return { 
	 create_stack: function(stack_id,parent_div,stack_type,xpos,ypos,pixdist){
	     var stack = {
		 id: stack_id,
		 cards: [],
		 parent: parent_div,
		 tstack: stack_type,
		 dpx: pixdist,
		 x: xpos,
		 y: ypos,
		 xnext: xpos,
		 ynext: ypos,
		 add_card: function(card){
		     this.cards[this.cards.length] = card;
		     card.set_position(this.xnext,this.ynext);
		     this.update_next_pos();
		     },
		 show: function(){
		     for (var i=0;i< this.cards.length; i++){
			 this.cards[i].show(this.parent,i);
			 }
		 },
		 move_to:function(xpos,ypos){
		     this.x = xpos;
		     this.y = ypos;
		     for (var i=0;i< this.cards.length; i++){
			 if ( this.tstack === 'H' ) {
			     this.cards[i].move_to(xpos+this.dpx*i,ypos,i);
			 }
			 if ( this.tstack === 'V' ) {
			     this.cards[i].move_to(xpos,this.dpx*i+ypos,i);
			 }
			 
			 }
		     this.update_next_pos();  
		 },
		
		 update_next_pos: function(){
		     if (this.tstack === 'H' ) {
			 this.xnext = this.x + this.cards.length*this.dpx;
			 this.ynext = this.y;
		     }
		     if (this.tstack === 'V') {
			 this.ynext = this.y + this.cards.length*this.dpx;
			 this.xnext = this.x;
		     }
		 },
		 jump_to:function(xpos,ypos){
		     this.x = xpos;
		     this.y = ypos;
		     for (var i=0;i< this.cards.length; i++){
			 if (this.tstack === 'H'){
			     this.cards[i].jump_to(xpos+this.dpx*i,ypos,i);
			 }
			 if (this.tstack === 'V'){
			     this.cards[i].jump_to(xpos,this.dpx*i+ypos,i);
			 }
			 
			 }
		     this.update_next_pos();
		 },
		 
		 get_card: function(i) {
		     return this.cards[i];
		 }
	     };
	     return stack;
	 },
         create_card: function(card_id,element_id){
	     var card = {
	         card_id: card_id,
		 x: 0,
		 y: 0,
		 element_id: element_id,
		 selected: true,
             inspect: function(){
		 console.log('inspect');
		 console.log("x: " + this.x + "  " + "y: " + this.y);  
	     },
             jump_to: function(px,py,pz){
		 this.set_position(px,py);
		 this.show(this.parent,pz);
	     },
	     make_div: function() {
		 if (this.card_id != 53 ) {
		     return "<div class='card' id='" + element_id + "'>" + divs[card_id-1] +  "</div>";
		 } else {
		     return "<div class='card' id='" + element_id + "'>" + divs[52] +  "</div>";
		 };
	     },         
	     get_div: function() {
		 return $('#' + element_id);
		 },
	     on_click: function(){
		 card.inspect(card);
		 card.move_to( {x: card.x+100,y:card.y+10} );
	     },
             set_position: function(px,py) {
		 this.x = px;
		 this.y = py;
	     },
	     show: function(parent,z){
		 this.get_div().remove();
		 this.parent = parent || this.parent;
		 this.parent.prepend(this.make_div());
		 this.get_div().css({position: "absolute"}).css({left:this.x + "px",top:this.y+"px",zIndex:z});
		 if (this.selected){
		     this.get_div().css({"background-color" : ""});
		 }
		 else {
		     this.get_div().css({"background-color" : "white"});
		 }
		 this.get_div().click(this.on_click);
		
	     },
	     flip: function(){
		 card_id = 53;
		 this.show();
		 },
	     move_to: function(px,py,pz) {
		 this.get_div().snabbt({ position:[px-this.x, py-this.y ,300],
					 duration: 500,
					 delay: 10,
					 easing: 'spring'
				         });
		 this.get_div().css({position: "absolute"}).css({left:this.x + "px",top:this.y+"px",zIndex:pz})
	         this.x= px;
		 this.y = py;
	        }
		
	     };
	     return card;
	 }
     };
 }());


$(document).ready(function(){
     var ele = $("#cardtable");
     ele.css({"font-size": '9px' }); 
     ele.css({position: 'relative'});
    
     var card1 = CP.create_card(11,1);

    
     card1.show(ele,1);
     card1.move_to(10,10)
     setTimeout(function(){ card1.move_to(10,100); },2000);
     setTimeout(function(){ card1.move_to(300,100);},4000);
     setTimeout(function(){ card1.move_to(10,10);},6000);
     setTimeout(function(){ 
	           card1.jump_to(300,100,12); 
			  },8000);
    var stack = CP.create_stack("my",ele,'V',500,200,24);
    console.log("STack" + stack.xnext);


    var card2 = CP.create_card(24,2);    
    stack.add_card(card2);
    console.log("STack" + stack.xnext);
    var card3 = CP.create_card(4,11);
    stack.add_card(card3);
    console.log("STack" + stack.xnext);
    var card5 = CP.create_card(8,12);
    stack.add_card(card5);
    stack.show();
    console.log("STack" + stack.xnext);
    setTimeout(function(){
	stack.move_to(0,0);
	    console.log("STack move_to" + stack.xnext);
	},4000);
    setTimeout(function(){
	stack.jump_to(100,100);
	console.log("STack jump to" + stack.xnext);
	},8000);
    setTimeout(function(){
	stack.add_card(CP.create_card(1,17));
	stack.show(ele,1);
    },9000);
});
